[flake8]
max-line-length = 100
exclude = 
    .git,
    venv,
    __pycache__,
    migrations,
    settings.py

# Настройка flake8-quotes для двойных кавычек
inline-quotes = single
docstring-quotes = double
multiline-quotes = double
